{
  "extends": [
    "eslint:recommended",
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "document": true,
    "JSX": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/state-in-constructor": 0,
    "no-underscore-dangle": "off",
    "react/jsx-props-no-spreading": "off",
    "no-plusplus": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["CustomLabel"],
        "labelAttributes": ["inputLabel"],
        "controlComponents": ["CustomInput"],
        "assert": "either",
        "depth": 3
      }
    ],
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
